.logo {
    width: 200px;
    left: 8.71%;
    right: 2.83%;
    top: 2.82%;
}

/*
.Parser>p {
    position: absolute;
    left: 15.71%;
    top: 50.82%;
    bottom: 32.34%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 12px;

    color: #C9C8C8;
}
*/
.signUp {
    width: 38px;
}
